@model DeliveryApp.Web.Models.User
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.easydropdown.js"></script>
    <!--start slider -->
    <link rel="stylesheet" href="~/css/fwslider.css" media="all">
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/fwslider.js"></script>
    <!--end slider -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-left">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="" /></a>
                        </div>
                        <div class="menu">
                            <a class="toggleMenu" asp-controller="Home" asp-action="Index"><img src="~/images/nav.png" alt="" /></a>
                            <ul class="nav" id="nav">
                                <li><a asp-controller="Home" asp-action="Index">HomePage</a></li>
                                <li><a asp-controller="Product" asp-action="AllProducts">Products</a></li>

                                @{
                                    if (Model.Data != null)
                                    {
                                        <li style="margin-left:100px"><a asp-controller="User" asp-action="UserProfile" asp-route-userId="@Model.Data.Id"><span class="glyphicon glyphicon-user"></span> @Model.Data.UserName</a></li>
                                        <li><a asp-controller="Auth" asp-action="Logout" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                                    }
                                    else
                                    {
                                        <li style="margin-left:150px"><a asp-controller="Auth" asp-action="Login" enctype="multipart/form-data"><span class="glyphicon glyphicon-log-in"></span> Login or Sign Up</a></li>
                                    }
                                }
                            </ul>
                            <script type="~/text/javascript" src="~/js/responsive-nav.js"></script>
                        </div>
                        <div>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_right">

                        <!-- start search-->

                        <div class="search-box">
                            <div id="sb-search" class="sb-search">
                                <form asp-controller="Product" asp-action="Search" method="get">
                                    <input class="sb-search-input" placeholder="Enter your search term..." type="text" name="keyword" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"> </span>
                                </form>
                            </div>
                        </div>

                        <!----search-scripts---->
                        <script src="~/js/classie.js"></script>
                        <script src="~/js/uisearch.js"></script>
                        <script>
                            new UISearch(document.getElementById('sb-search'));
                        </script>
                        <!----//search-scripts---->
                        @{
                            if (Model.Data != null)
                            {
                                <ul class="icon1 sub-icon1 profile_img">
                                    <li>
                                        <a class="active-icon c1" asp-controller="Basket" asp-action="Index"> </a>
                                    </li>
                                </ul>
                            }
                        }

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>