<!DOCTYPE HTML>
<html>
<head>
     <title>XD</title>
<link href="~/css/bootstrap.css" rel='stylesheet' type='~/text/css' />
<link href="~/css/style.css" rel='stylesheet' type='~/text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='~/text/css'>
<script type="~/application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.easydropdown.js"></script>
<link rel="stylesheet" href="~/css/fwslider.css" media="all">
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/fwslider.js"></script>
<script type="~/text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
</head>
<body>
	<div class="banner">
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide">     
               <img src="~/images/harita.PNG" class="img-responsive" alt=""/>         
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- <h1 class="title">Run Over<br>Everything</h1>-->
                                   
                    </div>
                </div>        
            </div>  
            <div class="slide">
               <img src="~/images/harita2.PNG" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                       <!-- <h1 class="title">Run Over<br>Everything</h1>-->
                       	
                    </div>
                </div>
            </div>

        </div>
        
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
      

      </div>


	
	
	

</body>	
</html>