<!DOCTYPE HTML>
<html>

<head>

     <title>XD</title>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <!--<script src="js/jquery.easydropdown.js"></script>-->
    <!--start slider -->
    <link rel="stylesheet" href="~/css/fwslider.css" media="all">
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/fwslider.js"></script>
    <!--end slider -->
    
</head>
<body>
    <div class="main">
        <div class="content-top">
            <h2>snowboards</h2>
            <p>hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
            <div class="close_but"><i class="close1"> </i></div>
            <ul id="flexiselDemo3">
                <li><img src="https://foto.haberler.com/haber/2019/07/12/gazli-icecek-icenlere-kanser-konusunda-kotu-h-12236189_amp.jpg" /></li>
                <li><img src="~/images/board2.jpg" /></li>
                <li><img src="~/images/board3.jpg" /></li>
                <li><img src="~/images/board4.jpg" /></li>
                <li><img src="~/images/board5.jpg" /></li>
            </ul>
            <h3>SnowBoard Extreme Series</h3>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".dropdown img.flag").addClass("flagvisibility");

                    $(".dropdown dt a").click(function () {
                        $(".dropdown dd ul").toggle();
                    });

                    $(".dropdown dd ul li a").click(function () {
                        var text = $(this).html();
                        $(".dropdown dt a span").html(text);
                        $(".dropdown dd ul").hide();
                        $("#result").html("Selected value is: " + getSelectedValue("sample"));
                    });

                    function getSelectedValue(id) {
                        return $("#" + id).find("dt a span.value").html();
                    }

                    $(document).bind('click', function (e) {
                        var $clicked = $(e.target);
                        if (!$clicked.parents().hasClass("dropdown"))
                            $(".dropdown dd ul").hide();
                    });


                    $("#flagSwitcher").click(function () {
                        $(".dropdown img.flag").toggleClass("flagvisibility");
                    });
                });
            </script>
            <script type="text/javascript" src="~/js/jquery.flexisel.js"></script>
        </div>
    </div>


</body>
</html>