<!DOCTYPE HTML>
<html>
<head>
  

</head>
<body>
    <br />
    <div class="footer">
        <div class="container">
            <div class="row">
               
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>About</h4>
                        <li><h5>We are the best online market at Turkey.Your order at the door as quick as possible.We strive for it. Thank you for choosing us.</h5></li> 
                        
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Customer Support</h4>
                        <li><h5 style="color:white;">Contact Us</h5></li>
                        <li><h5 style="color:white">Phone Number:</h5> <h5>05340671908</h5></li>
                        <li><h5 style="color:white">E-mail:</h5><li>info@xd.com</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Social Media Accounts</h4>
                       
                        <ul class="social">
                            <li class="facebook"><a ><span> </span></a></li>
                            <li class="twitter"><a ><span> </span></a></li>
                            <li class="instagram"><a ><span> </span></a></li>
                            <li class="pinterest"><a ><span> </span></a></li>
                            <li class="youtube"><a ><span> </span></a></li>
                        </ul>

                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        
                            <img style="width="152" height="120" src="~/images/logo.png" >
                       
                      
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>
</html>