@model DeliveryApp.Core.Dtos.ProductTypeAddDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <link href="~/Admin/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div style="margin-top: 180px;" class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-dark my-4">Add Category</h3></div>
                                <div class="card-body">
                                    <form asp-action="AddCategory" asp-controller="Category" method="post">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputName">New Category Name</label>
                                            <input name="Name" class="form-control py-4" id="inputName" type="text" placeholder="Name" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputURL">New Category Url</label>
                                            <input name="PictureUrl" class="form-control py-4" id="inputURL" type="url" placeholder="Picture" />
                                            <span asp-validation-for="PictureUrl" class="text-danger"></span>
                                        </div>

                                        <div style="float: right;" class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Admin/js/scripts.js"></script>
</body>
</html>